/**********************************************************/
/********************* 1023 *******************************/
/**********************************************************/
@media(max-width:1023px){
    .cabecera{
        max-width: 800px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
    }
    main{
        max-width: 800px;
        height:auto;
        margin:auto;
    }
    main p{
        max-width:600px;
        text-align: center;
        margin: 0 auto;
    }
    main .botones_reservas{
        position:relative;
        top:60%;
    }
    main .contenedor{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
    }
    main .contenedor section.derecha figure img.foto_hero_derecha{
        height: 150px;
        object-fit: cover;
    }
    main .contenedor section.izquierda article,
    main .contenedor section.derecha article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    footer{
        position: relative;
        margin-top: 40px;
        height: auto;
    }
    footer .contenedor_footer{
        max-width:600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        margin:0 auto;
    }
    footer .contenedor_footer article.footer-izquierda{
        height:10rem;
    }
}
/**********************************************************/
/********************* 767 ********************************/
/**********************************************************/
@media(max-width:767px){
    /* header{
        width: 100%;
        margin: 0 auto;
        border: 1px solid red;
    } */
    .cabecera{
        max-width: 600px;
        margin:0 auto;
        /* display: flex;
        justify-content: space-between; */
        
    }
    main{
        max-width: 600px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 50px auto auto;
    }
    main .contenedor .botones_reservas{
        max-width: 600px;
        position: relative;
        top:0;
    }
    .botones_reservas a button.booking,
    .botones_reservas a button.airbnb{
        width: 6rem;
        margin-bottom: 2rem;
    }
    main .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .contenedor section.izquierda,
    main .contenedor section.derecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
    main .contenedor section.izquierda h2{
        font-size: 1.5rem;
        width:100%;
        text-align: center;
    }
    
    section.derecha .bloque-fondo{
        background-color: #7d770f80;
        max-width: 460px;
        max-height:360px;
        /* position: absolute; */
    }
    main .contenedor .botones_reservas_2{
        max-width: 600px;
        position: relative;
        display: block;
        font-family: var(--font-montserrat-regular);
        font-weight: var(--weight-regular);
        font-style: normal;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        
    }
    .botones_reservas_2 a button.booking{
        background-color: var(--booking);
        width: 6rem;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        color:azure;
    }
    
    .botones_reservas_2 a button.booking:hover{
        color: var(--booking);
        transition: .2s ease all;
        background-color: var(--semi-anaranjado);
        border-color: var(--arena);
    }
    
    .botones_reservas_2 a button.airbnb{
        background-color: var(--airbnb);
        width: 6rem;
        padding:8px 16px;
        border-radius: 8px;
        cursor: pointer;
        border-color: inherit;
        text-decoration: none;
        color:azure;
    }
    .botones_reservas_2 a button.airbnb:hover{
        color: var(--booking);
        transition: .2s ease all;
        background-color: var(--semi-anaranjado);
        border-color: var(--arena);
    }





    footer{
        position: revert;
        border-radius: 20px;
        height: fit-content;
    }
    footer section.contenedor_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0 auto;
        border-radius: 20px;
    }
    footer section.contenedor_footer article.footer-izquierda .nav-footer{
        padding-top:10px;
    }
    footer section.contenedor_footer article.footer-izquierda span{
        margin-top:30px;
    }
    footer section.contenedor_footer article.footer-derecha{
        margin-top:40px;
        width: 100%;
    }
    footer section.contenedor_footer article.footer-derecha .fondo-redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap:30px;
    }
    footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-instagram a,
    footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-facebook a,
    footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-whatsapp a{
        font-size: 14px;
    }
}