/*********************************/
/******* Paleta de Colores *******/
/*********************************/
:root { 
    --casi-blanco: #f4f2e6; 
    --arena: #c8bca5;
    --marron-claro:#bc8c48;
    --camel:#917357;
    --marron: #693712;
    --celeste-claro-apagado: #b1ccd5;
    --celeste: #9ccce1 ;
    --celeste-apagado: #94b6cd;
    --celeste-intenso: #6AB4D2;
    --semi-anaranjado: #deb80c;
    --verde-claro: #a3a050;
    --verde-musgo: #7d770f;
    --booking:#003B95;
    --airbnb:#FF385C;

    /********** Fuente MIRZA ********/
    --font-mirza-regular: "Mirza", serif;
    --font-mirza-medium: "Mirza", serif;
    --font-mirza-semibold: "Mirza", serif;
    --font-mirza-bold: "Mirza", serif;

    /******** Fuente MONTSERRAT ******/
    --font-montserrat-regular: "Montserrat", serif;
    --font-montserrat-medium: "Montserrat", serif;
    --font-montserrat-semibold: "Montserrat", serif;
    --font-montserrat-bold: "Montserrat", serif;

    /*********** PESO FONTS *********/
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--casi-blanco);
    height: 100vh;
}
/* =========================================== */
/* ================= HEADER ================== */
/* =========================================== */
header{
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center; */
    /* background-color: var(--marron-claro); */
    background-color: #D7AB51;
    height: 10%;
}
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    height:100%;
    margin: 0 auto;
}
.cabecera a{
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header a img{
    border-style: none;
    margin: auto;
    height: 80%;
}
header a img:hover{
    transition: 0.5s ease all;
    transform: scale(0.8, 0.8);
}
header nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    width: 50%;
}
header nav ul{
    display:inline-block;
}
header nav ul li{
    font-family: var(--font-montserrat-medium);
    font-weight: var(--weight-medium);
    font-style:normal;
    font-size: 20px;
    display: inline-block;
    margin-left:12px;
}
header nav ul li a{
    font-family: var(--font-montserrat-medium);
    font-weight: var(--weight-medium);
    font-style:normal;
    /* text-decoration: underline; */
    font-size: 1.5rem;
    color: azure;
    display: inline-block;
    margin-left:12px;
}
header nav ul li a:hover{
    /* background-color: var(--marron); */
    transition: 0.5s ease all;
    transform: scale(1.1, 1.1);
}


/********************************************/
/***************MAIN*************************/
/********************************************/
main{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center; 
    height: 75%;
    max-width: 60%;
    margin-left:20%;
}
main h1{
    font-family: var(--font-mirza-regular);
    color:var(--marron);
    font-size: 80px;
    width: 100%;
    text-align: center;
}
.botones_reservas{
    font-family: var(--font-montserrat-regular);
    font-weight: var(--weight-regular);
    font-style: normal;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.botones_reservas a button.booking,
.botones_reservas a button.airbnb{
    background-color: var(--booking);
    width: 6rem;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color:azure;
    margin: 15px;
}
.botones_reservas a .fa-whatsapp {
    font-size: 2.5rem;
    color: #25D366;
}
.botones_reservas a button.booking:hover{
    color: var(--booking);
    transition: .2s ease all;
    background-color: var(--semi-anaranjado);
    border-color: var(--arena);
}

.botones_reservas a button.airbnb{
    background-color: var(--airbnb);
    padding:8px 16px;
    border-radius: 8px;
    cursor: pointer;
    border-color: inherit;
    text-decoration: none;
    color:azure;
}

.botones_reservas a button.airbnb:hover{
    color: var(--booking);
    transition: .2s ease all;
    background-color: var(--semi-anaranjado);
    border-color: var(--arena);
}
main p.explicacion{
    font-family: var(--font-montserrat-regular);
    color: #3a2704;
    text-align: center;
    width: 60%;
}
p.explicacion a{
    color:#3a2704;
}
p.explicacion a:hover{
    color: var(--celeste-intenso);
}
section.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap:40px;
}
section.contenedor article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.contenedor article h2{    
    font-family: var(--font-montserrat-regular);
    color:var(--camel);
    font-size: 1.5rem;
    margin: 20px 0 15px 0;
}
section.contenedor article figure{
    position: relative;
    display: inline-block;
}
section.contenedor article figure img{
    width: 100%;
    max-height: 350px;
    border-radius: 4px;
    object-fit: cover;
}
section.contenedor article figure figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(146, 65, 19, 0.425); /* Fondo oscuro translúcido */
    color:azure;
    font-family: var(--font-montserrat-regular);
    font-size: 0.9rem;
    padding: 5px;
    text-align: center;
    opacity: 0; /* Oculto el figcaption inicialmente */
    transition: opacity 0.3s ease; 
}

section.contenedor article figure:hover figcaption {
    opacity: 1; /* Muestro el figcaption al pasar el mouse */
}

section.izquierda article{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:15px;
}
section.izquierda article figure{
    position: relative;
    display: inline-block;
}
section.izquierda article img{
    width:200px;
    max-height: 100px;
    border-radius: 8px;
    margin-top: 15px;
}
section.izquierda article figure figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(146, 65, 19, 0.425); /* Fondo oscuro translúcido */
    color:azure;
    font-family: var(--font-montserrat-regular);
    font-size: 0.6rem;
    padding: 5px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}
section.izquierda article figure:hover figcaption {
    opacity: 1; /* Muestro el figcaption al pasar el mouse */
}
main section.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:50%;
}
section.derecha h2{    
    font-family: var(--font-montserrat-regular);
    color:var(--camel);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
section.derecha figure{
    position: relative;
    display: inline-block;
}
section.derecha figure img{
    width: 100%;
    max-height: 200px;
    border-radius: 4px;
    object-fit: cover;
}
section.derecha figure figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(146, 65, 19, 0.425); /* Fondo oscuro translúcido */
    color:azure;
    font-family: var(--font-montserrat-regular);
    font-size: 0.9rem;
    padding: 5px;
    text-align: center;
    opacity: 0; /* Oculto el figcaption inicialmente */
    transition: opacity 0.3s ease; 
}

section.derecha figure:hover figcaption {
    opacity: 1; /* Muestro el figcaption al pasar el mouse */
}

section.derecha article{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:15px;
}
section.derecha article figure{
    position: relative;
    display: inline-block;
}
section.derecha article img{
    width:200px;
    max-height: 100px;
    border-radius: 8px;
    margin-top: 15px;
}
section.derecha article figure figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(146, 65, 19, 0.425); /* Fondo oscuro translúcido */
    color:azure;
    font-family: var(--font-montserrat-regular);
    font-size: 0.6rem;
    padding: 5px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}
section.derecha article figure:hover figcaption {
    opacity: 1; /* Muestro el figcaption al pasar el mouse */
}
/***************************************************/
/*********************FOOTER************************/
/***************************************************/
footer{
    height: 15%;
    background-color:var(--marron-claro);
    position: fixed;
    bottom:0;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    
}
footer .contenedor_footer{
    max-width:1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin:0 auto;
}
footer .contenedor_footer article.footer-izquierda{
    max-width: 600px;
    /* width: 50%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
    align-items:center;
    font-family: var(--font-montserrat-regular);
    color: azure;
}

footer .contenedor_footer article.footer-izquierda nav.nav-footer ul{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 60px;
}
footer .contenedor_footer article.footer-izquierda nav.nav-footer ul li{
    color: azure;
}
footer .contenedor_footer article.footer-izquierda nav.nav-footer ul li a{
    color: azure;
    font-family: var(--font-montserrat-regular);
}
footer .contenedor_footer article.footer-izquierda nav.nav-footer ul li a:hover{
    font-family: var(--font-montserrat-bold);
    color:var(--camel) ;
    transition: 0.3 ease all;
}
footer .contenedor_footer article.footer-izquierda span{
    text-decoration: none;
    color: azure;
}
footer .contenedor_footer article.footer-izquierda span a{
    color:#5c3e06;
}
footer .contenedor_footer article.footer-derecha{
    background-color: var(--camel);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    height: 100%;
    max-width: 600px;
    /* width: 50%; */
    right: 0;
}
footer .contenedor_footer article.footer-derecha .fondo-redes{
    background-color: #3a2704;
    padding:1rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-instagram{
    color: azure;
}
footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-instagram a{
    color: azure;
    font-family: var(--font-montserrat-regular);
    font-size: 10px;
    margin-left: 5px;
}
footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-facebook{
    color: azure;
    margin-left: 10px;
}
footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-facebook a{
    color: azure;
    font-family: var(--font-montserrat-regular);
    font-size: 10px;
    margin-left: 10px;
}
footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-whatsapp{
    color: azure;
    margin-left:10px;
}
footer .contenedor_footer article.footer-derecha .fondo-redes i.fa-brands.fa-whatsapp a{
    color: azure;
    font-family: var(--font-montserrat-regular);
    font-size: 10px;
    margin-left: 10px;
}